In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('ETTh1.csv', header=0)

display(df.head())

df['date'] = pd.to_datetime(df['date'])
# drop date
df = df.drop(columns=['date'])
display(df.head())

# write to csv
df.to_csv('ETTh1-clean.csv', index=False, header=False)

                  date   HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  2016-07-01 00:00:00  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  2016-07-01 01:00:00  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  2016-07-01 02:00:00  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3  2016-07-01 03:00:00  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4  2016-07-01 04:00:00  5.358  1.942  1.492  0.462  3.868  1.279  21.948000

    HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0  5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1  5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2  5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3  5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4  5.358  1.942  1.492  0.462  3.868  1.279  21.948000